html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    margin: 0; 
    padding: 0;
}

.content {
    border: red 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 75%;
    border: green 2px solid;
    text-align: center;
    padding: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    padding: 8px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

button {
    font-size: 0.75rem;
    background-color: #666;
    border: none;
    padding: 0;
    border-radius: 10px;
}

.btn-back {
    display: flex;
    align-items: center;
}

p {
    color: white;
}

.last {
    font-size: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 4px 28px;
}




/* back up 

.content {
    margin: 0;
    padding: 0;
}
section {
    width: 70%;
    margin: 0 auto;
}
article {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
}
.rashira, .rashira-i {
    text-align: justify;
    text-align-last: center;
    color: #fff0ce;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.171);
}
.rashira h1, h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: -1rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: -1rem;
}
.back-btn a {
    color: antiquewhite; 
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.back-btn {
    background-color: rgb(41, 41, 41);
    bottom: 0;
    position: fixed;
    margin: 0.5rem 1rem;
    transition: transform 0.3s ease-in-out;
}
.back-btn:hover {
    transform: scale(1.1);
}
footer {
    margin-top: 1rem;
    color: antiquewhite;
    text-align: center;
}
nav {
    margin: 0 auto;
    width: 50%;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    justify-content: space-between;
    margin-top: 1rem;
    color: antiquewhite;
}
li {
    text-align: center;
    list-style-type: none;
    flex-basis: 20%;
}
a {
    text-decoration: none;
    color: wheat;
}
.last {
    bottom: 0;
    font-size: 0.5rem;
} 

*/



